/* 
 * Couleurs du site.
 * ---------------------------------------------------------------
 * 1 - Couleur Primaire
 * 2 - Couleur Secondaire
 * 3 - Couleur du texte
 * ---------------------------------------------------------------
 */
$primaryColor: 		#383838;
$secondaryColor: 	#2171AE;
$textColor: 		#fff;

/* 
 * Polices d'écriture (Fonts)
 * ---------------------------------------------------------------
 * 1 - Police utilisé pour les titres.
 * 2 - Police utilisé pour le contenu du site.
 * 3 - Police utilisé pour les liens.
 * ---------------------------------------------------------------
 */
$fontTitle: 	"Cormorant+Garamond";
$fontContent:	"Goudy+Bookletter+1911";
$fontLink:		"Amita";
