/* 
 * @import
 * ---------------------------------------------------------------
 * 1 - variables : Contient tout les paramètres utiliser sur le site.
 * 2 - fonts 	 : Contient les méthodes utiliser pour choisir le nombre de police sur le site.
 * ---------------------------------------------------------------
 */
@import "variables";
@import "fonts";

/* Inclusion des Fonts */
@include googleFonts-3($fontTitle, $fontContent, $fontLink);

/* KEYFRAME PERSO */
@keyframes borderAnime {
	0% { box-shadow: 0 0 10px rgba(brown, .4) }
	10% { box-shadow: 0 0 20px rgba(blue, .8) }
	20% { box-shadow: 0 0 20px rgba(black, .4) }
	30% { box-shadow: 0 0 20px rgba(yellow, .2) }
	40% { box-shadow: 0 0 20px rgba(orange, .4) }
	50% { box-shadow: 0 0 20px rgba(red, .8) }
	60% { box-shadow: 0 0 20px rgba(pink, .4) }
	70% { box-shadow: 0 0 40px rgba(purple, .2) }
	80% { box-shadow: 0 0 20px rgba(black, .4) }
	90% { box-shadow: 0 0 20px rgba(green, .8) }
	100% { box-shadow: 0 0 10px rgba(turquoise, .4) }
}
@keyframes zoom_animation {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}



  


/* CSS GENERALS */
html {
	font-size: 62.5%;
	box-sizing: border-box;
	color: $textColor;
	width: 100%;
	height: 100%;
}
* {
	box-sizing: border-box;
}

/* CSS GENERALS - FORMULAIRE */
label {
	text-transform: uppercase;
	font-size: 1.6rem;
}
input,
button {
	border: none;
	width: 100%;
}
/* Full-width inputs */
input[type=text],
input[type=password] {
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
	background-color: $textColor;
	border: 2px solid $textColor;
	color: $primaryColor;
		&:focus {
			border: 2px solid $secondaryColor;
		}
}
/* Set a style for all buttons */
button {
  	background-color: $secondaryColor;
  	color: $textColor;
  	text-transform: uppercase;
  	padding: 14px 20px;
  	margin: 8px 0;  
  	cursor: pointer;  
}

/* Add a hover effect for buttons */
button:hover,
input[type='submit'],
input[type='button'] {  	
	transition: opacity .5s ease-in-out;
	opacity: 0.8;
}


body {
	background-image: url('../../images/home.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	
	main {
		width: 50%;
		font-family: $fontContent;

		p {
			font-size: 2rem;
			letter-spacing: 0.5rem;

			&:first-letter {
				font-size: 3rem;
			}
		}

		.btn_home  {
			padding: 10px;
			margin: 50px 20px 20px 20px;
			width: 200px;
			background-color: $secondaryColor;
			color: $textColor;
			text-transform: uppercase;
			border: 1px solid $secondaryColor;
			transition: border .25s ease-in-out;
			transition: color .8s ease-in-out;
			transition: background-color .6s ease-in-out;

			&:hover {
				cursor: pointer;
				border: 1px solid $textColor;
			}

			&:focus {
				background-color: $textColor;
				color: $secondaryColor;
				transition: color .8s ease-in-out;
				transition: background-color .6s ease-in-out;
			}
		} // Fin .btn_home


		h1,h2,h3,h4,h5,h6 {
			font-family: $fontTitle;
			text-align: center;
		}

		h1 {
			font-size: 6rem;
		}

		a {
			font-family: $fontLink;
		}

	} // Fin main

	.modal {
		background-image: url('../../images/modal.jpg');
		background-size: cover;		
		animation: borderAnime 4s ease-in-out infinite;

		h1 {
			margin-bottom: 50px;
		}

		form {
			height: 60%;
			width: 100%;
			margin: 10rem;

			fieldset {
				padding: 5%;
				height: 100%;
				width: 100%;

				legend {
					font-size: 1.2rem;
					letter-spacing: .6rem;
					padding: 0 1rem;
				}

				.container {
  					padding: 1rem;
				}

				/* Extra style for the cancel button (red) */
				.btn_cancel,
				.btn_submit {
		  			width: auto;
		  			padding: 1rem 1.8rem;
				}
				.btn_submit {
					float: left;
		  			background-color: $secondaryColor;
				}
				.btn_cancel {
					float: right;
		  			background-color: #f44336;
				}
			}
		}
		.btn_close_modal {
		  	position: absolute;
			padding: 10px;
			bottom: 20px;
			right: 20px;
			width: 200px;
			background-color: $textColor;
			color: $primaryColor;
			text-transform: uppercase;
		} // Fin .btn_close_modal
	} // Fin .modal
} // Fin .body	




/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .btn_cancel {
    width: 100%;
  }
}


